In [1]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.worldometers.info/coronavirus/'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [2]:
# You now can query the `soup` object!
soup.title.string

'Coronavirus Update (Live): 107,179,301 Cases and 2,341,521 Deaths from COVID-19 Virus Pandemic - Worldometer'

In [3]:
soup.find('tr', class_= 'sorting_1')

In [4]:
main_table = soup.find_all('table' , id= 'main_table_countries_today', 
                           class_="table table-bordered table-hover main_table_countries")
#main_table

In [5]:
td = main_table[0].find_all('td')
td

[<td></td>,
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>,
 <td>31,717,893</td>,
 <td>+16,199</td>,
 <td>688,749</td>,
 <td>+896</td>,
 <td>20,772,052</td>,
 <td>+36,593</td>,
 <td>10,257,092</td>,
 <td>29,171</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="North America" style="display:none;">North America</td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>,
 <td>23,700,398</td>,
 <td>+59,047</td>,
 <td>381,268</td>,
 <td>+823</td>,
 <td>22,205,317</td>,
 <td>+61,201</td>,
 <td>1,113,813</td>,
 <td>22,623</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Asia" style="display:none;">Asia</td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>,
 <td>16,492,774</td>,
 <td>+14,120</td>,
 <td>430,552</td>,
 <td>+279</td>,
 <td>14,777,651</td>,
 <td>+4,972</td>,
 <td>1,284,571</td>,
 <td>19,872</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="South America" style="display:none;">South America</td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>,
 <td>31,511,134</td>,
 <td>+78,990</td>,
 <td>744,127</td>,
 <td>+3,659</td>,
 <td>18,165,036</td>,
 <td>+101,615</td>,
 <td>12,601,971</td>,
 <td>28,595</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Europe" style="display:none;">Europe</td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>,
 <td>3,705,953</td>,
 <td>+4,663</td>,
 <td>95,730</td>,
 <td>+82</td>,
 <td>3,225,367</td>,
 <td>+5,252</td>,
 <td>384,856</td>,
 <td>2,578</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Africa" style="display:none;">Africa</td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>,
 <td>50,428</td>,
 <td>+6</td>,
 <td>1,080</td>,
 <td></td>,
 <td>34,137</td>,
 <td>+9</td>,
 <td>15,211</td>,
 <td>5</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td style="text-align:left;">
 <nobr></nobr>
 </td>,
 <td>721</td>,
 <td></td>,
 <td>15</td>,
 <td></td>,
 <td>706</td>,
 <td></td>,
 <td>0</td>,
 <td>0</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="" style="display:none;"></td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td style="text-align:left;">World</td>,
 <td>107,179,301</td>,
 <td>+173,025</td>,
 <td>2,341,521</td>,
 <td>+5,739</td>,
 <td>79,180,266</td>,
 <td>+209,642</td>,
 <td>25,657,514</td>,
 <td>102,844</td>,
 <td>13,750</td>,
 <td>300.4</td>,
 <td></td>,
 <td></td>,
 <td></td>,
 <td data-continent="all" style="display:none">All</td>,
 <td>
 </td>,
 <td></td>,
 <td></td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>,
 <td style="font-weight: bold; text-align:right">27,707,835</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+7,166</td>,
 <td style="font-weight: bold; text-align:right;">476,635 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+227</td>,
 <td style="font-weight: bold; text-align:right">17,531,747</td>,
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+19,133</td>,
 <td style="text-align:right;font-weight:bold;">9,699,453</td>,
 <td style="font-weight: bold; text-align:right">21,441</td>,
 <td style="font-weight: bold; text-align:right">83,411</td>,
 <td style="font-weight: bold; text-align:right">1,435</td>,
 <td style="font-weight: bold; text-align:right">325,657,216</td>,
 <td style="font-weight: bold; text-align:right">980,356</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,182,690</a> </td>,
 <td data-continent="North America" style="display:none">North America</td>,
 <td>12</td>,
 <td>697</td>,
 <td>1</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>,
 <td style="font-weight: bold; text-align:right">10,854,353</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,563</td>,
 <td style="font-weight: bold; text-align:right;">155,234 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+39</td>,
 <td style="font-weight: bold; text-align:right">10,555,178</td>,
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,273</td>,
 <td style="text-align:right;font-weight:bold;">143,941</td>,
 <td style="font-weight: bold; text-align:right">8,944</td>,
 <td style="font-weight: bold; text-align:right">7,819</td>,
 <td style="font-weight: bold; text-align:right">112</td>,
 <td style="font-weight: bold; text-align:right">201,900,614</td>,
 <td style="font-weight: bold; text-align:right">145,437</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,388,234,493</a> </td>,
 <td data-continent="Asia" style="display:none">Asia</td>,
 <td>128</td>,
 <td>8,943</td>,
 <td>7</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>,
 <td style="font-weight: bold; text-align:right">9,560,362</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,061</td>,
 <td style="font-weight: bold; text-align:right;">232,431 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+183</td>,
 <td style="font-weight: bold; text-align:right">8,447,645</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="text-align:right;font-weight:bold;">880,286</td>,
 <td style="font-weight: bold; text-align:right">8,318</td>,
 <td style="font-weight: bold; text-align:right">44,784</td>,
 <td style="font-weight: bold; text-align:right">1,089</td>,
 <td style="font-weight: bold; text-align:right">28,600,000</td>,
 <td style="font-weight: bold; text-align:right">133,972</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,477,384</a> </td>,
 <td data-continent="South America" style="display:none">South America</td>,
 <td>22</td>,
 <td>918</td>,
 <td>7</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>,
 <td style="font-weight: bold; text-align:right">3,998,216</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+15,019</td>,
 <td style="font-weight: bold; text-align:right;">77,598 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+530</td>,
 <td style="font-weight: bold; text-align:right">3,493,886</td>,
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+21,795</td>,
 <td style="text-align:right;font-weight:bold;">426,732</td>,
 <td style="font-weight: bold; text-align:right">2,300</td>,
 <td style="font-weight: bold; text-align:right">27,390</td>,
 <td style="font-weight: bold; text-align:right">532</td>,
 <td style="font-weight: bold; text-align:right">105,000,000</td>,
 <td style="font-weight: bold; text-align:right">719,313</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,972,616</a> </td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td>37</td>,
 <td>1,881</td>,
 <td>1</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>,
 <td style="font-weight: bold; text-align:right">3,972,148</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+12,364</td>,
 <td style="font-weight: bold; text-align:right;">113,850 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+1,052</td>,
 <td style="font-weight: bold; text-align:right">1,950,886</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="text-align:right;font-weight:bold;">1,907,412</td>,
 <td style="font-weight: bold; text-align:right">3,230</td>,
 <td style="font-weight: bold; text-align:right">58,326</td>,
 <td style="font-weight: bold; text-align:right">1,672</td>,
 <td style="font-weight: bold; text-align:right">78,860,651</td>,
 <td style="font-weight: bold; text-align:right">1,157,963</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,102,885</a> </td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td>17</td>,
 <td>598</td>,
 <td>1</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>,
 <td style="font-weight: bold; text-align:right">3,341,365</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">79,423 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">233,993</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="text-align:right;font-weight:bold;">3,027,949</td>,
 <td style="font-weight: bold; text-align:right">3,363</td>,
 <td style="font-weight: bold; text-align:right">51,121</td>,
 <td style="font-weight: bold; text-align:right">1,215</td>,
 <td style="font-weight: bold; text-align:right">46,751,422</td>,
 <td style="font-weight: bold; text-align:right">715,275</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,361,495</a> </td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td>20</td>,
 <td>823</td>,
 <td>1</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>,
 <td style="font-weight: bold; text-align:right">2,989,085</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">62,295 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">N/A</td>,
 <td style="font-weight: bold; text-align:right;">N/A</td>,
 <td style="text-align:right;font-weight:bold;">N/A</td>,
 <td style="font-weight: bold; text-align:right">4,732</td>,
 <td style="font-weight: bold; text-align:right">63,916</td>,
 <td style="font-weight: bold; text-align:right">1,332</td>,
 <td style="font-weight: bold; text-align:right">35,782,465</td>,
 <td style="font-weight: bold; text-align:right">765,141</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,765,820</a> </td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td>16</td>,
 <td>751</td>,
 <td>1</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>,
 <td style="font-weight: bold; text-align:right">2,655,319</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,630</td>,
 <td style="font-weight: bold; text-align:right;">92,002 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+422</td>,
 <td style="font-weight: bold; text-align:right">2,149,350</td>,
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+15,827</td>,
 <td style="text-align:right;font-weight:bold;">413,967</td>,
 <td style="font-weight: bold; text-align:right">2,143</td>,
 <td style="font-weight: bold; text-align:right">43,957</td>,
 <td style="font-weight: bold; text-align:right">1,523</td>,
 <td style="font-weight: bold; text-align:right">34,781,259</td>,
 <td style="font-weight: bold; text-align:right">575,777</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,407,564</a> </td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td>23</td>,
 <td>657</td>,
 <td>2</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>,
 <td style="font-weight: bold; text-align:right">2,548,195</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+8,636</td>,
 <td style="font-weight: bold; text-align:right;">26,998 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+98</td>,
 <td style="font-weight: bold; text-align:right">2,437,382</td>,
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,109</td>,
 <td style="text-align:right;font-weight:bold;">83,815</td>,
 <td style="font-weight: bold; text-align:right">1,310</td>,
 <td style="font-weight: bold; text-align:right">30,018</td>,
 <td style="font-weight: bold; text-align:right">318</td>,
 <td style="font-weight: bold; text-align:right">30,893,496</td>,
 <td style="font-weight: bold; text-align:right">363,927</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,889,277</a> </td>,
 <td data-continent="Asia" style="display:none">Asia</td>,
 <td>33</td>,
 <td>3,144</td>,
 <td>3</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>,
 <td style="font-weight: bold; text-align:right">2,298,389</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,063</td>,
 <td style="font-weight: bold; text-align:right;">62,862 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+265</td>,
 <td style="font-weight: bold; text-align:right">2,057,300</td>,
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+16,000</td>,
 <td style="text-align:right;font-weight:bold;">178,227</td>,
 <td style="font-weight: bold; text-align:right">3,957</td>,
 <td style="font-weight: bold; text-align:right">27,379</td>,
 <td style="font-weight: bold; text-align:right">749</td>,
 <td style="font-weight: bold; text-align:right">40,705,522</td>,
 <td style="font-weight: bold; text-align:right">484,895</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,947,051</a> </td>,
 <td data-continent="Europe" style="display:none">Europe</td>,
 <td>37</td>,
 <td>1,335</td>,
 <td>2</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>,
 <td style="font-weight: bold; text-align:right">2,161,462</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">56,290 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">2,034,228</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="text-align:right;font-weight:bold;">70,944</td>,
 <td style="font-weight: bold; text-align:right">3,482</td>,
 <td style="font-weight: bold; text-align:right">42,206</td>,
 <td style="font-weight: bold; text-align:right">1,099</td>,
 <td style="font-weight: bold; text-align:right">10,553,968</td>,
 <td style="font-weight: bold; text-align:right">206,085</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,211,717</a> </td>,
 <td data-continent="South America" style="display:none">South America</td>,
 <td>24</td>,
 <td>910</td>,
 <td>5</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>,
 <td style="font-weight: bold; text-align:right">1,985,501</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">49,398 </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">1,786,178</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="text-align:right;font-weight:bold;">149,925</td>,
 <td style="font-weight: bold; text-align:right">3,526</td>,
 <td style="font-weight: bold; text-align:right">43,688</td>,
 <td style="font-weight: bold; text-align:right">1,087</td>,
 <td style="font-weight: bold; text-align:right">6,538,865</td>,
 <td style="font-weight: bold; text-align:right">143,878</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,447,441</a> </td>,
 <td data-continent="South America" style="display:none">South America</td>,
 <td>23</td>,
 <td>920</td>,
 <td>7</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mexico/">Mexico</a></td>,
 <td style="font-weight: bold; text-align:right">1,936,013</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+3,868</td>,
 <td style="font-weight: bold; text-align:right;">166,731 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+531</td>,
 <td style="font-weight: bold; text-align:right">1,501,580</td>,
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+11,503</td>,
 <td style="text-align:right;font-weight:bold;">267,702</td>,
 <td style="font-weight: bold; text-align:right">5,692</td>,
 <td style="font-weight: bold; text-align:right">14,921</td>,
 <td style="font-weight: bold; text-align:right">1,285</td>,
 <td style="font-weight: bold; text-align:right">4,902,400</td>,
 <td style="font-weight: bold; text-align:right">37,782</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/mexico-population/">129,754,143</a> </td>,
 <td data-continent="North America" style="display:none">North America</td>,
 <td>67</td>,
 <td>778</td>,
 <td>26</td>,
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">14</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>,

In [6]:
for i in enumerate(td):
    print(i)

(0, <td></td>)
(1, <td style="text-align:left;">
<nobr>North America</nobr>
</td>)
(2, <td>31,717,893</td>)
(3, <td>+16,199</td>)
(4, <td>688,749</td>)
(5, <td>+896</td>)
(6, <td>20,772,052</td>)
(7, <td>+36,593</td>)
(8, <td>10,257,092</td>)
(9, <td>29,171</td>)
(10, <td></td>)
(11, <td></td>)
(12, <td></td>)
(13, <td></td>)
(14, <td></td>)
(15, <td data-continent="North America" style="display:none;">North America</td>)
(16, <td>
</td>)
(17, <td></td>)
(18, <td></td>)
(19, <td></td>)
(20, <td style="text-align:left;">
<nobr>Asia</nobr>
</td>)
(21, <td>23,700,398</td>)
(22, <td>+59,047</td>)
(23, <td>381,268</td>)
(24, <td>+823</td>)
(25, <td>22,205,317</td>)
(26, <td>+61,201</td>)
(27, <td>1,113,813</td>)
(28, <td>22,623</td>)
(29, <td></td>)
(30, <td></td>)
(31, <td></td>)
(32, <td></td>)
(33, <td></td>)
(34, <td data-continent="Asia" style="display:none;">Asia</td>)
(35, <td>
</td>)
(36, <td></td>)
(37, <td></td>)
(38, <td></td>)
(39, <td style="text-align:left;">
<nobr>South America</nobr>
</td>)
(40, <td>16,492,774</td>)
(41, <td>+14,120</td>)
(42, <td>430,552</td>)
(43, <td>+279</td>)
(44, <td>14,777,651</td>)
(45, <td>+4,972</td>)
(46, <td>1,284,571</td>)
(47, <td>19,872</td>)
(48, <td></td>)
(49, <td></td>)
(50, <td></td>)
(51, <td></td>)
(52, <td></td>)
(53, <td data-continent="South America" style="display:none;">South America</td>)
(54, <td>
</td>)
(55, <td></td>)
(56, <td></td>)
(57, <td></td>)
(58, <td style="text-align:left;">
<nobr>Europe</nobr>
</td>)
(59, <td>31,511,134</td>)
(60, <td>+78,990</td>)
(61, <td>744,127</td>)
(62, <td>+3,659</td>)
(63, <td>18,165,036</td>)
(64, <td>+101,615</td>)
(65, <td>12,601,971</td>)
(66, <td>28,595</td>)
(67, <td></td>)
(68, <td></td>)
(69, <td></td>)
(70, <td></td>)
(71, <td></td>)
(72, <td data-continent="Europe" style="display:none;">Europe</td>)
(73, <td>
</td>)
(74, <td></td>)
(75, <td></td>)
(76, <td></td>)
(77, <td style="text-align:left;">
<nobr>Africa</nobr>
</td>)
(78, <td>3,705,953</td>)
(79, <td>+4,663</td>)
(80, <td>95,730</td>)
(81, <td>+82</td>)
(82, <td>3,225,367</td>)
(83, <td>+5,252</td>)
(84, <td>384,856</td>)
(85, <td>2,578</td>)
(86, <td></td>)
(87, <td></td>)
(88, <td></td>)
(89, <td></td>)
(90, <td></td>)
(91, <td data-continent="Africa" style="display:none;">Africa</td>)
(92, <td>
</td>)
(93, <td></td>)
(94, <td></td>)
(95, <td></td>)
(96, <td style="text-align:left;">
<nobr>Oceania</nobr>
</td>)
(97, <td>50,428</td>)
(98, <td>+6</td>)
(99, <td>1,080</td>)
(100, <td></td>)
(101, <td>34,137</td>)
(102, <td>+9</td>)
(103, <td>15,211</td>)
(104, <td>5</td>)
(105, <td></td>)
(106, <td></td>)
(107, <td></td>)
(108, <td></td>)
(109, <td></td>)
(110, <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>)
(111, <td>
</td>)
(112, <td></td>)
(113, <td></td>)
(114, <td></td>)
(115, <td style="text-align:left;">
<nobr></nobr>
</td>)
(116, <td>721</td>)
(117, <td></td>)
(118, <td>15</td>)
(119, <td></td>)
(120, <td>706</td>)
(121, <td></td>)
(122, <td>0</td>)
(123, <td>0</td>)
(124, <td></td>)
(125, <td></td>)
(126, <td></td>)
(127, <td></td>)
(128, <td></td>)
(129, <td data-continent="" style="display:none;"></td>)
(130, <td>
</td>)
(131, <td></td>)
(132, <td></td>)
(133, <td></td>)
(134, <td style="text-align:left;">World</td>)
(135, <td>107,179,301</td>)
(136, <td>+173,025</td>)
(137, <td>2,341,521</td>)
(138, <td>+5,739</td>)
(139, <td>79,180,266</td>)
(140, <td>+209,642</td>)
(141, <td>25,657,514</td>)
(142, <td>102,844</td>)
(143, <td>13,750</td>)
(144, <td>300.4</td>)
(145, <td></td>)
(146, <td></td>)
(147, <td></td>)
(148, <td data-continent="all" style="display:none">All</td>)
(149, <td>
</td>)
(150, <td></td>)
(151, <td></td>)
(152, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>)
(153, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>)
(154, <td style="font-weight: bold; text-align:right">27,707,835</td>)
(155, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+7,166</td>)
(156, <td style="font-weight: bold; text-align:right;">476,635 </td>)
(157, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+227</td>)
(158, <td style="font-weight: bold; text-align:right">17,531,747</td>)
(159, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+19,133</td>)
(160, <td style="text-align:right;font-weight:bold;">9,699,453</td>)
(161, <td style="font-weight: bold; text-align:right">21,441</td>)
(162, <td style="font-weight: bold; text-align:right">83,411</td>)
(163, <td style="font-weight: bold; text-align:right">1,435</td>)
(164, <td style="font-weight: bold; text-align:right">325,657,216</td>)
(165, <td style="font-weight: bold; text-align:right">980,356</td>)
(166, <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,182,690</a> </td>)
(167, <td data-continent="North America" style="display:none">North America</td>)
(168, <td>12</td>)
(169, <td>697</td>)
(170, <td>1</td>)
(171, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>)
(172, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>)
(173, <td style="font-weight: bold; text-align:right">10,854,353</td>)
(174, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,563</td>)
(175, <td style="font-weight: bold; text-align:right;">155,234 </td>)
(176, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+39</td>)
(177, <td style="font-weight: bold; text-align:right">10,555,178</td>)
(178, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,273</td>)
(179, <td style="text-align:right;font-weight:bold;">143,941</td>)
(180, <td style="font-weight: bold; text-align:right">8,944</td>)
(181, <td style="font-weight: bold; text-align:right">7,819</td>)
(182, <td style="font-weight: bold; text-align:right">112</td>)
(183, <td style="font-weight: bold; text-align:right">201,900,614</td>)
(184, <td style="font-weight: bold; text-align:right">145,437</td>)
(185, <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,388,234,493</a> </td>)
(186, <td data-continent="Asia" style="display:none">Asia</td>)
(187, <td>128</td>)
(188, <td>8,943</td>)
(189, <td>7</td>)
(190, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>)
(191, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>)
(192, <td style="font-weight: bold; text-align:right">9,560,362</td>)
(193, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,061</td>)
(194, <td style="font-weight: bold; text-align:right;">232,431 </td>)
(195, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+183</td>)
(196, <td style="font-weight: bold; text-align:right">8,447,645</td>)
(197, <td style="font-weight: bold; text-align:right;"></td>)
(198, <td style="text-align:right;font-weight:bold;">880,286</td>)
(199, <td style="font-weight: bold; text-align:right">8,318</td>)
(200, <td style="font-weight: bold; text-align:right">44,784</td>)
(201, <td style="font-weight: bold; text-align:right">1,089</td>)
(202, <td style="font-weight: bold; text-align:right">28,600,000</td>)
(203, <td style="font-weight: bold; text-align:right">133,972</td>)
(204, <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,477,384</a> </td>)
(205, <td data-continent="South America" style="display:none">South America</td>)
(206, <td>22</td>)
(207, <td>918</td>)
(208, <td>7</td>)
(209, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>)
(210, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>)
(211, <td style="font-weight: bold; text-align:right">3,998,216</td>)
(212, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+15,019</td>)
(213, <td style="font-weight: bold; text-align:right;">77,598 </td>)
(214, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+530</td>)
(215, <td style="font-weight: bold; text-align:right">3,493,886</td>)
(216, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+21,795</td>)
(217, <td style="text-align:right;font-weight:bold;">426,732</td>)
(218, <td style="font-weight: bold; text-align:right">2,300</td>)
(219, <td style="font-weight: bold; text-align:right">27,390</td>)
(220, <td style="font-weight: bold; text-align:right">532</td>)
(221, <td style="font-weight: bold; text-align:right">105,000,000</td>)
(222, <td style="font-weight: bold; text-align:right">719,313</td>)
(223, <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,972,616</a> </td>)
(224, <td data-continent="Europe" style="display:none">Europe</td>)
(225, <td>37</td>)
(226, <td>1,881</td>)
(227, <td>1</td>)
(228, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>)
(229, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>)
(230, <td style="font-weight: bold; text-align:right">3,972,148</td>)
(231, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+12,364</td>)
(232, <td style="font-weight: bold; text-align:right;">113,850 </td>)
(233, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1,052</td>)
(234, <td style="font-weight: bold; text-align:right">1,950,886</td>)
(235, <td style="font-weight: bold; text-align:right;"></td>)
(236, <td style="text-align:right;font-weight:bold;">1,907,412</td>)
(237, <td style="font-weight: bold; text-align:right">3,230</td>)
(238, <td style="font-weight: bold; text-align:right">58,326</td>)
(239, <td style="font-weight: bold; text-align:right">1,672</td>)
(240, <td style="font-weight: bold; text-align:right">78,860,651</td>)
(241, <td style="font-weight: bold; text-align:right">1,157,963</td>)
(242, <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,102,885</a> </td>)
(243, <td data-continent="Europe" style="display:none">Europe</td>)
(244, <td>17</td>)
(245, <td>598</td>)
(246, <td>1</td>)
(247, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>)
(248, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>)
(249, <td style="font-weight: bold; text-align:right">3,341,365</td>)
(250, <td style="font-weight: bold; text-align:right;"></td>)
(251, <td style="font-weight: bold; text-align:right;">79,423 </td>)
(252, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(253, <td style="font-weight: bold; text-align:right">233,993</td>)
(254, <td style="font-weight: bold; text-align:right;"></td>)
(255, <td style="text-align:right;font-weight:bold;">3,027,949</td>)
(256, <td style="font-weight: bold; text-align:right">3,363</td>)
(257, <td style="font-weight: bold; text-align:right">51,121</td>)
(258, <td style="font-weight: bold; text-align:right">1,215</td>)
(259, <td style="font-weight: bold; text-align:right">46,751,422</td>)
(260, <td style="font-weight: bold; text-align:right">715,275</td>)
(261, <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,361,495</a> </td>)
(262, <td data-continent="Europe" style="display:none">Europe</td>)
(263, <td>20</td>)
(264, <td>823</td>)
(265, <td>1</td>)
(266, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>)
(267, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>)
(268, <td style="font-weight: bold; text-align:right">2,989,085</td>)
(269, <td style="font-weight: bold; text-align:right;"></td>)
(270, <td style="font-weight: bold; text-align:right;">62,295 </td>)
(271, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(272, <td style="font-weight: bold; text-align:right">N/A</td>)
(273, <td style="font-weight: bold; text-align:right;">N/A</td>)
(274, <td style="text-align:right;font-weight:bold;">N/A</td>)
(275, <td style="font-weight: bold; text-align:right">4,732</td>)
(276, <td style="font-weight: bold; text-align:right">63,916</td>)
(277, <td style="font-weight: bold; text-align:right">1,332</td>)
(278, <td style="font-weight: bold; text-align:right">35,782,465</td>)
(279, <td style="font-weight: bold; text-align:right">765,141</td>)
(280, <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,765,820</a> </td>)
(281, <td data-continent="Europe" style="display:none">Europe</td>)
(282, <td>16</td>)
(283, <td>751</td>)
(284, <td>1</td>)
(285, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>)
(286, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>)
(287, <td style="font-weight: bold; text-align:right">2,655,319</td>)
(288, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,630</td>)
(289, <td style="font-weight: bold; text-align:right;">92,002 </td>)
(290, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+422</td>)
(291, <td style="font-weight: bold; text-align:right">2,149,350</td>)
(292, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+15,827</td>)
(293, <td style="text-align:right;font-weight:bold;">413,967</td>)
(294, <td style="font-weight: bold; text-align:right">2,143</td>)
(295, <td style="font-weight: bold; text-align:right">43,957</td>)
(296, <td style="font-weight: bold; text-align:right">1,523</td>)
(297, <td style="font-weight: bold; text-align:right">34,781,259</td>)
(298, <td style="font-weight: bold; text-align:right">575,777</td>)
(299, <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,407,564</a> </td>)
(300, <td data-continent="Europe" style="display:none">Europe</td>)
(301, <td>23</td>)
(302, <td>657</td>)
(303, <td>2</td>)
(304, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>)
(305, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>)
(306, <td style="font-weight: bold; text-align:right">2,548,195</td>)
(307, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+8,636</td>)
(308, <td style="font-weight: bold; text-align:right;">26,998 </td>)
(309, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+98</td>)
(310, <td style="font-weight: bold; text-align:right">2,437,382</td>)
(311, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,109</td>)
(312, <td style="text-align:right;font-weight:bold;">83,815</td>)
(313, <td style="font-weight: bold; text-align:right">1,310</td>)
(314, <td style="font-weight: bold; text-align:right">30,018</td>)
(315, <td style="font-weight: bold; text-align:right">318</td>)
(316, <td style="font-weight: bold; text-align:right">30,893,496</td>)
(317, <td style="font-weight: bold; text-align:right">363,927</td>)
(318, <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,889,277</a> </td>)
(319, <td data-continent="Asia" style="display:none">Asia</td>)
(320, <td>33</td>)
(321, <td>3,144</td>)
(322, <td>3</td>)
(323, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>)
(324, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>)
(325, <td style="font-weight: bold; text-align:right">2,298,389</td>)
(326, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,063</td>)
(327, <td style="font-weight: bold; text-align:right;">62,862 </td>)
(328, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+265</td>)
(329, <td style="font-weight: bold; text-align:right">2,057,300</td>)
(330, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+16,000</td>)
(331, <td style="text-align:right;font-weight:bold;">178,227</td>)
(332, <td style="font-weight: bold; text-align:right">3,957</td>)
(333, <td style="font-weight: bold; text-align:right">27,379</td>)
(334, <td style="font-weight: bold; text-align:right">749</td>)
(335, <td style="font-weight: bold; text-align:right">40,705,522</td>)
(336, <td style="font-weight: bold; text-align:right">484,895</td>)
(337, <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,947,051</a> </td>)
(338, <td data-continent="Europe" style="display:none">Europe</td>)
(339, <td>37</td>)
(340, <td>1,335</td>)
(341, <td>2</td>)
(342, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>)
(343, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>)
(344, <td style="font-weight: bold; text-align:right">2,161,462</td>)
(345, <td style="font-weight: bold; text-align:right;"></td>)
(346, <td style="font-weight: bold; text-align:right;">56,290 </td>)
(347, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(348, <td style="font-weight: bold; text-align:right">2,034,228</td>)
(349, <td style="font-weight: bold; text-align:right;"></td>)
(350, <td style="text-align:right;font-weight:bold;">70,944</td>)
(351, <td style="font-weight: bold; text-align:right">3,482</td>)
(352, <td style="font-weight: bold; text-align:right">42,206</td>)
(353, <td style="font-weight: bold; text-align:right">1,099</td>)
(354, <td style="font-weight: bold; text-align:right">10,553,968</td>)
(355, <td style="font-weight: bold; text-align:right">206,085</td>)
(356, <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,211,717</a> </td>)
(357, <td data-continent="South America" style="display:none">South America</td>)
(358, <td>24</td>)
(359, <td>910</td>)
(360, <td>5</td>)
(361, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>)
(362, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>)
(363, <td style="font-weight: bold; text-align:right">1,985,501</td>)
(364, <td style="font-weight: bold; text-align:right;"></td>)
(365, <td style="font-weight: bold; text-align:right;">49,398 </td>)
(366, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(367, <td style="font-weight: bold; text-align:right">1,786,178</td>)
(368, <td style="font-weight: bold; text-align:right;"></td>)
(369, <td style="text-align:right;font-weight:bold;">149,925</td>)
(370, <td style="font-weight: bold; text-align:right">3,526</td>)
(371, <td style="font-weight: bold; text-align:right">43,688</td>)
(372, <td style="font-weight: bold; text-align:right">1,087</td>)
(373, <td style="font-weight: bold; text-align:right">6,538,865</td>)
(374, <td style="font-weight: bold; text-align:right">143,878</td>)

(1376, <td style="text-align:right;font-weight:bold;">11,251</td>)
(1377, <td style="font-weight: bold; text-align:right">277</td>)
(1378, <td style="font-weight: bold; text-align:right">15,980</td>)
(1379, <td style="font-weight: bold; text-align:right">579</td>)
(1380, <td style="font-weight: bold; text-align:right">4,498,458</td>)
(1381, <td style="font-weight: bold; text-align:right">432,880</td>)
(1382, <td style="font-weight: bold; text-align:right"><a href="/world-population/greece-population/">10,391,927</a> </td>)
(1383, <td data-continent="Europe" style="display:none">Europe</td>)
(1384, <td>63</td>)
(1385, <td>1,727</td>)
(1386, <td>2</td>)
(1387, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">66</td>)
(1388, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/moldova/">Moldova</a></td>)
(1389, <td style="font-weight: bold; text-align:right">165,663</td>)
(1390, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+805</td>)
(1391, <td style="font-weight: bold; text-align:right;">3,573 </td>)
(1392, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+16</td>)
(1393, <td style="font-weight: bold; text-align:right">154,444</td>)
(1394, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+141</td>)
(1395, <td style="text-align:right;font-weight:bold;">7,646</td>)
(1396, <td style="font-weight: bold; text-align:right">226</td>)
(1397, <td style="font-weight: bold; text-align:right">41,125</td>)
(1398, <td style="font-weight: bold; text-align:right">887</td>)
(1399, <td style="font-weight: bold; text-align:right">651,668</td>)
(1400, <td style="font-weight: bold; text-align:right">161,775</td>)
(1401, <td style="font-weight: bold; text-align:right"><a href="/world-population/moldova-population/">4,028,238</a> </td>)
(1402, <td data-continent="Europe" style="display:none">Europe</td>)
(1403, <td>24</td>)
(1404, <td>1,127</td>)
(1405, <td>6</td>)
(1406, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">67</td>)
(1407, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/guatemala/">Guatemala</a></td>)
(1408, <td style="font-weight: bold; text-align:right">163,993</td>)
(1409, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+746</td>)
(1410, <td style="font-weight: bold; text-align:right;">5,955 </td>)
(1411, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+33</td>)
(1412, <td style="font-weight: bold; text-align:right">150,544</td>)
(1413, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+799</td>)
(1414, <td style="text-align:right;font-weight:bold;">7,494</td>)
(1415, <td style="font-weight: bold; text-align:right">5</td>)
(1416, <td style="font-weight: bold; text-align:right">9,053</td>)
(1417, <td style="font-weight: bold; text-align:right">329</td>)
(1418, <td style="font-weight: bold; text-align:right">826,548</td>)
(1419, <td style="font-weight: bold; text-align:right">45,626</td>)
(1420, <td style="font-weight: bold; text-align:right"><a href="/world-population/guatemala-population/">18,115,558</a> </td>)
(1421, <td data-continent="North America" style="display:none">North America</td>)
(1422, <td>110</td>)
(1423, <td>3,042</td>)
(1424, <td>22</td>)
(1425, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">68</td>)
(1426, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/state-of-palestine/">Palestine</a></td>)
(1427, <td style="font-weight: bold; text-align:right">163,975</td>)
(1428, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+762</td>)
(1429, <td style="font-weight: bold; text-align:right;">1,897 </td>)
(1430, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+9</td>)
(1431, <td style="font-weight: bold; text-align:right">153,682</td>)
(1432, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+663</td>)
(1433, <td style="text-align:right;font-weight:bold;">8,396</td>)
(1434, <td style="font-weight: bold; text-align:right">58</td>)
(1435, <td style="font-weight: bold; text-align:right">31,700</td>)
(1436, <td style="font-weight: bold; text-align:right">367</td>)
(1437, <td style="font-weight: bold; text-align:right">1,056,620</td>)
(1438, <td style="font-weight: bold; text-align:right">204,266</td>)
(1439, <td style="font-weight: bold; text-align:right"><a href="/world-population/state-of-palestine-population/">5,172,765</a> </td>)
(1440, <td data-continent="Asia" style="display:none">Asia</td>)
(1441, <td>32</td>)
(1442, <td>2,727</td>)
(1443, <td>5</td>)
(1444, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">69</td>)
(1445, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/honduras/">Honduras</a></td>)
(1446, <td style="font-weight: bold; text-align:right">155,735</td>)
(1447, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,167</td>)
(1448, <td style="font-weight: bold; text-align:right;">3,742 </td>)
(1449, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+21</td>)
(1450, <td style="font-weight: bold; text-align:right">61,936</td>)
(1451, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+119</td>)
(1452, <td style="text-align:right;font-weight:bold;">90,057</td>)
(1453, <td style="font-weight: bold; text-align:right">404</td>)
(1454, <td style="font-weight: bold; text-align:right">15,574</td>)
(1455, <td style="font-weight: bold; text-align:right">374</td>)
(1456, <td style="font-weight: bold; text-align:right">395,702</td>)
(1457, <td style="font-weight: bold; text-align:right">39,571</td>)
(1458, <td style="font-weight: bold; text-align:right"><a href="/world-population/honduras-population/">9,999,820</a> </td>)
(1459, <td data-continent="North America" style="display:none">North America</td>)
(1460, <td>64</td>)
(1461, <td>2,672</td>)
(1462, <td>25</td>)
(1463, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">70</td>)
(1464, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/qatar/">Qatar</a></td>)
(1465, <td style="font-weight: bold; text-align:right">155,002</td>)
(1466, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+477</td>)
(1467, <td style="font-weight: bold; text-align:right;">253 </td>)
(1468, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+2</td>)
(1469, <td style="font-weight: bold; text-align:right">147,191</td>)
(1470, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+158</td>)
(1471, <td style="text-align:right;font-weight:bold;">7,558</td>)
(1472, <td style="font-weight: bold; text-align:right">64</td>)
(1473, <td style="font-weight: bold; text-align:right">55,204</td>)
(1474, <td style="font-weight: bold; text-align:right">90</td>)
(1475, <td style="font-weight: bold; text-align:right">1,438,308</td>)
(1476, <td style="font-weight: bold; text-align:right">512,254</td>)
(1477, <td style="font-weight: bold; text-align:right">2,807,805 </td>)
(1478, <td data-continent="Asia" style="display:none">Asia</td>)
(1479, <td>18</td>)
(1480, <td>11,098</td>)
(1481, <td>2</td>)
(1482, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">71</td>)
(1483, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ethiopia/">Ethiopia</a></td>)
(1484, <td style="font-weight: bold; text-align:right">142,994</td>)
(1485, <td style="font-weight: bold; text-align:right;"></td>)
(1486, <td style="font-weight: bold; text-align:right;">2,156 </td>)
(1487, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(1488, <td style="font-weight: bold; text-align:right">125,756</td>)
(1489, <td style="font-weight: bold; text-align:right;"></td>)
(1490, <td style="text-align:right;font-weight:bold;">15,082</td>)
(1491, <td style="font-weight: bold; text-align:right">225</td>)
(1492, <td style="font-weight: bold; text-align:right">1,226</td>)
(1493, <td style="font-weight: bold; text-align:right">18</td>)
(1494, <td style="font-weight: bold; text-align:right">2,009,459</td>)
(1495, <td style="font-weight: bold; text-align:right">17,223</td>)
(1496, <td style="font-weight: bold; text-align:right"><a href="/world-population/ethiopia-population/">116,675,277</a> </td>)
(1497, <td data-continent="Africa" style="display:none">Africa</td>)
(1498, <td>816</td>)
(1499, <td>54,117</td>)
(1500, <td>58</td>)
(1501, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">72</td>)
(1502, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/myanmar/">Myanmar</a></td>)
(1503, <td style="font-weight: bold; text-align:right">141,448</td>)
(1504, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+21</td>)
(1505, <td style="font-weight: bold; text-align:right;">3,180 </td>)
(1506, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+3</td>)
(1507, <td style="font-weight: bold; text-align:right">128,437</td>)
(1508, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+462</td>)
(1509, <td style="text-align:right;font-weight:bold;">9,831</td>)
(1510, <td style="font-weight: bold; text-align:right"></td>)
(1511, <td style="font-weight: bold; text-align:right">2,589</td>)
(1512, <td style="font-weight: bold; text-align:right">58</td>)
(1513, <td style="font-weight: bold; text-align:right">2,467,726</td>)
(1514, <td style="font-weight: bold; text-align:right">45,170</td>)
(1515, <td style="font-weight: bold; text-align:right"><a href="/world-population/myanmar-population/">54,631,452</a> </td>)
(1516, <td data-continent="Asia" style="display:none">Asia</td>)
(1517, <td>386</td>)
(1518, <td>17,180</td>)
(1519, <td>22</td>)
(1520, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">73</td>)
(1521, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/nigeria/">Nigeria</a></td>)
(1522, <td style="font-weight: bold; text-align:right">140,391</td>)
(1523, <td style="font-weight: bold; text-align:right;"></td>)
(1524, <td style="font-weight: bold; text-align:right;">1,673 </td>)
(1525, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(1526, <td style="font-weight: bold; text-align:right">114,635</td>)
(1527, <td style="font-weight: bold; text-align:right;"></td>)
(1528, <td style="text-align:right;font-weight:bold;">24,083</td>)
(1529, <td style="font-weight: bold; text-align:right">10</td>)
(1530, <td style="font-weight: bold; text-align:right">671</td>)
(1531, <td style="font-weight: bold; text-align:right">8</td>)
(1532, <td style="font-weight: bold; text-align:right">1,398,630</td>)
(1533, <td style="font-weight: bold; text-align:right">6,685</td>)
(1534, <td style="font-weight: bold; text-align:right"><a href="/world-population/nigeria-population/">209,210,623</a> </td>)
(1535, <td data-continent="Africa" style="display:none">Africa</td>)
(1536, <td>1,490</td>)
(1537, <td>125,051</td>)
(1538, <td>150</td>)
(1539, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">74</td>)
(1540, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/paraguay/">Paraguay</a></td>)
(1541, <td style="font-weight: bold; text-align:right">138,945</td>)
(1542, <td style="font-weight: bold; text-align:right;"></td>)
(1543, <td style="font-weight: bold; text-align:right;">2,846 </td>)
(1544, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(1545, <td style="font-weight: bold; text-align:right">115,157</td>)
(1546, <td style="font-weight: bold; text-align:right;"></td>)
(1547, <td style="text-align:right;font-weight:bold;">20,942</td>)
(1548, <td style="font-weight: bold; text-align:right">237</td>)
(1549, <td style="font-weight: bold; text-align:right">19,337</td>)
(1550, <td style="font-weight: bold; text-align:right">396</td>)
(1551, <td style="font-weight: bold; text-align:right">679,391</td>)
(1552, <td style="font-weight: bold; text-align:right">94,549</td>)
(1553, <td style="font-weight: bold; text-align:right"><a href="/world-population/paraguay-population/">7,185,608</a> </td>)
(1554, <td data-continent="South America" style="display:none">South America</td>)
(1555, <td>52</td>)
(1556, <td>2,525</td>)
(1557, <td>11</td>)
(1558, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">75</td>)
(1559, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/oman/">Oman</a></td>)
(1560, <td style="font-weight: bold; text-align:right">136,187</td>)
(1561, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+197</td>)
(1562, <td style="font-weight: bold; text-align:right;">1,536 </td>)
(1563, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1</td>)
(1564, <td style="font-weight: bold; text-align:right">128,089</td>)
(1565, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+236</td>)
(1566, <td style="text-align:right;font-weight:bold;">6,562</td>)
(1567, <td style="font-weight: bold; text-align:right">42</td>)
(1568, <td style="font-weight: bold; text-align:right">26,267</td>)
(1569, <td style="font-weight: bold; text-align:right">296</td>)
(1570, <td style="font-weight: bold; text-align:right">1,550,000</td>)
(1571, <td style="font-weight: bold; text-align:right">298,959</td>)
(1572, <td style="font-weight: bold; text-align:right"><a href="/world-population/oman-population/">5,184,659</a> </td>)
(1573, <td data-continent="Asia" style="display:none">Asia</td>)
(1574, <td>38</td>)
(1575, <td>3,375</td>)
(1576, <td>3</td>)
(1577, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">76</td>)
(1578, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/venezuela/">Venezuela</a></td>)
(1579, <td style="font-weight: bold; text-align:right">130,596</td>)
(1580, <td style="font-weight: bold; text-align:right;"></td>)
(1581, <td style="font-weight: bold; text-align:right;">1,240 </td>)
(1582, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(1583, <td style="font-weight: bold; text-align:right">122,531</td>)
(1584, <td style="font-weight: bold; text-align:right;"></td>)
(1585, <td style="text-align:right;font-weight:bold;">6,825</td>)
(1586, <td style="font-weight: bold; text-align:right">109</td>)
(1587, <td style="font-weight: bold; text-align:right">4,601</td>)
(1588, <td style="font-weight: bold; text-align:right">44</td>)
(1589, <td style="font-weight: bold; text-align:right">2,729,914</td>)
(1590, <td style="font-weight: bold; text-align:right">96,169</td>)
(1591, <td style="font-weight: bold; text-align:right"><a href="/world-population/venezuela-population/">28,386,732</a> </td>)
(1592, <td data-continent="South America" style="display:none">South America</td>)
(1593, <td>217</td>)
(1594, <td>22,893</td>)
(1595, <td>10</td>)
(1596, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">77</td>)
(1597, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/libya/">Libya</a></td>)
(1598, <td style="font-weight: bold; text-align:right">125,561</td>)
(1599, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+679</td>)
(1600, <td style="font-weight: bold; text-align:right;">1,982 </td>)
(1601, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+8</td>)
(1602, <td style="font-weight: bold; text-align:right">106,377</td>)
(1603, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+955</td>)
(1604, <td style="text-align:right;font-weight:bold;">17,202</td>)
(1605, <td style="font-weight: bold; text-align:right"></td>)
(1606, <td style="font-weight: bold; text-align:right">18,124</td>)
(1607, <td style="font-weight: bold; text-align:right">286</td>)
(1608, <td style="font-weight: bold; text-align:right">684,990</td>)
(1609, <td style="font-weight: bold; text-align:right">98,875</td>)
(1610, <td style="font-weight: bold; text-align:right"><a href="/world-population/libya-population/">6,927,846</a> </td>)
(1611, <td data-continent="Africa" style="display:none">Africa</td>)
(1612, <td>55</td>)
(1613, <td>3,495</td>)
(1614, <td>10</td>)
(1615, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">78</td>)
(1616, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/bosnia-and-herzegovina/">Bosnia and Herzegovina</a></td>)
(1617, <td style="font-weight: bold; text-align:right">124,443</td>)
(1618, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+342</td>)
(1619, <td style="font-weight: bold; text-align:right;">4,834 </td>)
(1620, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+21</td>)
(1621, <td style="font-weight: bold; text-align:right">99,669</td>)
(1622, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1,199</td>)
(1623, <td style="text-align:right;font-weight:bold;">19,940</td>)
(1624, <td style="font-weight: bold; text-align:right"></td>)
(1625, <td style="font-weight: bold; text-align:right">38,075</td>)
(1626, <td style="font-weight: bold; text-align:right">1,479</td>)
(1627, <td style="font-weight: bold; text-align:right">617,764</td>)
(1628, <td style="font-weight: bold; text-align:right">189,015</td>)
(1629, <td style="font-weight: bold; text-align:right"><a href="/world-population/bosnia-and-herzegovina-population/">3,268,334</a> </td>)
(1630, <td data-continent="Europe" style="display:none">Europe</td>)
(1631, <td>26</td>)
(1632, <td>676</td>)
(1633, <td>5</td>)
(1634, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">79</td>)
(1635, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/algeria/">Algeria</a></td>)
(1636, <td style="font-weight: bold; text-align:right">109,313</td>)
(1637, <td style="font-weight: bold; text-align:right;"></td>)
(1638, <td style="font-weight: bold; text-align:right;">2,918 </td>)
(1639, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(1640, <td style="font-weight: bold; text-align:right">74,871</td>)
(1641, <td style="font-weight: bold; text-align:right;"></td>)
(1642, <td style="text-align:right;font-weight:bold;">31,524</td>)
(1643, <td style="font-weight: bold; text-align:right">42</td>)
(1644, <td style="font-weight: bold; text-align:right">2,466</td>)
(1645, <td style="font-weight: bold; text-align:right">66</td>)
(1646, <td style="font-weight: bold; text-align:right"></td>)
(1647, <td style="font-weight: bold; text-align:right"></td>)
(1648, <td style="font-weight: bold; text-align:right"><a href="/world-population/algeria-population/">44,329,013</a> </td>)
(1649, <td data-continent="Africa" style="display:none">Africa</td>)

(3147, <td style="font-weight: bold; text-align:right">434,422</td>)
(3148, <td style="font-weight: bold; text-align:right">35,279</td>)
(3149, <td style="font-weight: bold; text-align:right"><a href="/world-population/benin-population/">12,313,895</a> </td>)
(3150, <td data-continent="Africa" style="display:none">Africa</td>)
(3151, <td>2,937</td>)
(3152, <td>223,889</td>)
(3153, <td>28</td>)
(3154, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">159</td>)
(3155, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/gibraltar/">Gibraltar</a></td>)
(3156, <td style="font-weight: bold; text-align:right">4,190</td>)
(3157, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+3</td>)
(3158, <td style="font-weight: bold; text-align:right;">83 </td>)
(3159, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3160, <td style="font-weight: bold; text-align:right">3,990</td>)
(3161, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+20</td>)
(3162, <td style="text-align:right;font-weight:bold;">117</td>)
(3163, <td style="font-weight: bold; text-align:right">13</td>)
(3164, <td style="font-weight: bold; text-align:right">124,388</td>)
(3165, <td style="font-weight: bold; text-align:right">2,464</td>)
(3166, <td style="font-weight: bold; text-align:right">167,911</td>)
(3167, <td style="font-weight: bold; text-align:right">4,984,741</td>)
(3168, <td style="font-weight: bold; text-align:right"><a href="/world-population/gibraltar-population/">33,685</a> </td>)
(3169, <td data-continent="Europe" style="display:none">Europe</td>)
(3170, <td>8</td>)
(3171, <td>406</td>)
(3172, <td>0</td>)
(3173, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">160</td>)
(3174, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/channel-islands/">Channel Islands</a></td>)
(3175, <td style="font-weight: bold; text-align:right">3,918</td>)
(3176, <td style="font-weight: bold; text-align:right;"></td>)
(3177, <td style="font-weight: bold; text-align:right;">83 </td>)
(3178, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3179, <td style="font-weight: bold; text-align:right">3,428</td>)
(3180, <td style="font-weight: bold; text-align:right;"></td>)
(3181, <td style="text-align:right;font-weight:bold;">407</td>)
(3182, <td style="font-weight: bold; text-align:right">4</td>)
(3183, <td style="font-weight: bold; text-align:right">22,410</td>)
(3184, <td style="font-weight: bold; text-align:right">475</td>)
(3185, <td style="font-weight: bold; text-align:right">333,714</td>)
(3186, <td style="font-weight: bold; text-align:right">1,908,737</td>)
(3187, <td style="font-weight: bold; text-align:right"><a href="/world-population/channel-islands-population/">174,835</a> </td>)
(3188, <td data-continent="Europe" style="display:none">Europe</td>)
(3189, <td>45</td>)
(3190, <td>2,106</td>)
(3191, <td>1</td>)
(3192, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">161</td>)
(3193, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sierra-leone/">Sierra Leone</a></td>)
(3194, <td style="font-weight: bold; text-align:right">3,789</td>)
(3195, <td style="font-weight: bold; text-align:right;"></td>)
(3196, <td style="font-weight: bold; text-align:right;">79 </td>)
(3197, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3198, <td style="font-weight: bold; text-align:right">2,475</td>)
(3199, <td style="font-weight: bold; text-align:right;"></td>)
(3200, <td style="text-align:right;font-weight:bold;">1,235</td>)
(3201, <td style="font-weight: bold; text-align:right"></td>)
(3202, <td style="font-weight: bold; text-align:right">469</td>)
(3203, <td style="font-weight: bold; text-align:right">10</td>)
(3204, <td style="font-weight: bold; text-align:right">109,684</td>)
(3205, <td style="font-weight: bold; text-align:right">13,584</td>)
(3206, <td style="font-weight: bold; text-align:right"><a href="/world-population/sierra-leone-population/">8,074,763</a> </td>)
(3207, <td data-continent="Africa" style="display:none">Africa</td>)
(3208, <td>2,131</td>)
(3209, <td>102,212</td>)
(3210, <td>74</td>)
(3211, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">162</td>)
(3212, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/chad/">Chad</a></td>)
(3213, <td style="font-weight: bold; text-align:right">3,508</td>)
(3214, <td style="font-weight: bold; text-align:right;"></td>)
(3215, <td style="font-weight: bold; text-align:right;">125 </td>)
(3216, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3217, <td style="font-weight: bold; text-align:right">2,913</td>)
(3218, <td style="font-weight: bold; text-align:right;"></td>)
(3219, <td style="text-align:right;font-weight:bold;">470</td>)
(3220, <td style="font-weight: bold; text-align:right"></td>)
(3221, <td style="font-weight: bold; text-align:right">210</td>)
(3222, <td style="font-weight: bold; text-align:right">7</td>)
(3223, <td style="font-weight: bold; text-align:right"></td>)
(3224, <td style="font-weight: bold; text-align:right"></td>)
(3225, <td style="font-weight: bold; text-align:right"><a href="/world-population/chad-population/">16,708,468</a> </td>)
(3226, <td data-continent="Africa" style="display:none">Africa</td>)
(3227, <td>4,763</td>)
(3228, <td>133,668</td>)
(3229, <td></td>)
(3230, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">163</td>)
(3231, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/san-marino/">San Marino</a></td>)
(3232, <td style="font-weight: bold; text-align:right">3,187</td>)
(3233, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+50</td>)
(3234, <td style="font-weight: bold; text-align:right;">71 </td>)
(3235, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+2</td>)
(3236, <td style="font-weight: bold; text-align:right">2,886</td>)
(3237, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+51</td>)
(3238, <td style="text-align:right;font-weight:bold;">230</td>)
(3239, <td style="font-weight: bold; text-align:right">7</td>)
(3240, <td style="font-weight: bold; text-align:right">93,807</td>)
(3241, <td style="font-weight: bold; text-align:right">2,090</td>)
(3242, <td style="font-weight: bold; text-align:right">36,344</td>)
(3243, <td style="font-weight: bold; text-align:right">1,069,759</td>)
(3244, <td style="font-weight: bold; text-align:right"><a href="/world-population/san-marino-population/">33,974</a> </td>)
(3245, <td data-continent="Europe" style="display:none">Europe</td>)
(3246, <td>11</td>)
(3247, <td>479</td>)
(3248, <td>1</td>)
(3249, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">164</td>)
(3250, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/comoros/">Comoros</a></td>)
(3251, <td style="font-weight: bold; text-align:right">3,088</td>)
(3252, <td style="font-weight: bold; text-align:right;"></td>)
(3253, <td style="font-weight: bold; text-align:right;">112 </td>)
(3254, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3255, <td style="font-weight: bold; text-align:right">2,347</td>)
(3256, <td style="font-weight: bold; text-align:right;"></td>)
(3257, <td style="text-align:right;font-weight:bold;">629</td>)
(3258, <td style="font-weight: bold; text-align:right"></td>)
(3259, <td style="font-weight: bold; text-align:right">3,506</td>)
(3260, <td style="font-weight: bold; text-align:right">127</td>)
(3261, <td style="font-weight: bold; text-align:right"></td>)
(3262, <td style="font-weight: bold; text-align:right"></td>)
(3263, <td style="font-weight: bold; text-align:right"><a href="/world-population/comoros-population/">880,760</a> </td>)
(3264, <td data-continent="Africa" style="display:none">Africa</td>)
(3265, <td>285</td>)
(3266, <td>7,864</td>)
(3267, <td></td>)
(3268, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">165</td>)
(3269, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/guinea-bissau/">Guinea-Bissau</a></td>)
(3270, <td style="font-weight: bold; text-align:right">2,780</td>)
(3271, <td style="font-weight: bold; text-align:right;"></td>)
(3272, <td style="font-weight: bold; text-align:right;">46 </td>)
(3273, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3274, <td style="font-weight: bold; text-align:right">2,427</td>)
(3275, <td style="font-weight: bold; text-align:right;"></td>)
(3276, <td style="text-align:right;font-weight:bold;">307</td>)
(3277, <td style="font-weight: bold; text-align:right">5</td>)
(3278, <td style="font-weight: bold; text-align:right">1,393</td>)
(3279, <td style="font-weight: bold; text-align:right">23</td>)
(3280, <td style="font-weight: bold; text-align:right">46,902</td>)
(3281, <td style="font-weight: bold; text-align:right">23,498</td>)
(3282, <td style="font-weight: bold; text-align:right"><a href="/world-population/guinea-bissau-population/">1,995,980</a> </td>)
(3283, <td data-continent="Africa" style="display:none">Africa</td>)
(3284, <td>718</td>)
(3285, <td>43,391</td>)
(3286, <td>43</td>)
(3287, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">166</td>)
(3288, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/liechtenstein/">Liechtenstein</a></td>)
(3289, <td style="font-weight: bold; text-align:right">2,526</td>)
(3290, <td style="font-weight: bold; text-align:right;"></td>)
(3291, <td style="font-weight: bold; text-align:right;">52 </td>)
(3292, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3293, <td style="font-weight: bold; text-align:right">2,425</td>)
(3294, <td style="font-weight: bold; text-align:right;"></td>)
(3295, <td style="text-align:right;font-weight:bold;">49</td>)
(3296, <td style="font-weight: bold; text-align:right">3</td>)
(3297, <td style="font-weight: bold; text-align:right">66,134</td>)
(3298, <td style="font-weight: bold; text-align:right">1,361</td>)
(3299, <td style="font-weight: bold; text-align:right">25,509</td>)
(3300, <td style="font-weight: bold; text-align:right">667,862</td>)
(3301, <td style="font-weight: bold; text-align:right"><a href="/world-population/liechtenstein-population/">38,195</a> </td>)
(3302, <td data-continent="Europe" style="display:none">Europe</td>)
(3303, <td>15</td>)
(3304, <td>735</td>)
(3305, <td>1</td>)
(3306, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">167</td>)
(3307, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/eritrea/">Eritrea</a></td>)
(3308, <td style="font-weight: bold; text-align:right">2,401</td>)
(3309, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+75</td>)
(3310, <td style="font-weight: bold; text-align:right;">7 </td>)
(3311, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3312, <td style="font-weight: bold; text-align:right">1,781</td>)
(3313, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+62</td>)
(3314, <td style="text-align:right;font-weight:bold;">613</td>)
(3315, <td style="font-weight: bold; text-align:right"></td>)
(3316, <td style="font-weight: bold; text-align:right">671</td>)
(3317, <td style="font-weight: bold; text-align:right">2</td>)
(3318, <td style="font-weight: bold; text-align:right">23,693</td>)
(3319, <td style="font-weight: bold; text-align:right">6,625</td>)
(3320, <td style="font-weight: bold; text-align:right"><a href="/world-population/eritrea-population/">3,576,125</a> </td>)
(3321, <td data-continent="Africa" style="display:none">Africa</td>)
(3322, <td>1,489</td>)
(3323, <td>510,875</td>)
(3324, <td>151</td>)
(3325, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">168</td>)
(3326, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/new-zealand/">New Zealand</a></td>)
(3327, <td style="font-weight: bold; text-align:right">2,322</td>)
(3328, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2</td>)
(3329, <td style="font-weight: bold; text-align:right;">25 </td>)
(3330, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3331, <td style="font-weight: bold; text-align:right">2,230</td>)
(3332, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1</td>)
(3333, <td style="text-align:right;font-weight:bold;">67</td>)
(3334, <td style="font-weight: bold; text-align:right"></td>)
(3335, <td style="font-weight: bold; text-align:right">464</td>)
(3336, <td style="font-weight: bold; text-align:right">5</td>)
(3337, <td style="font-weight: bold; text-align:right">1,565,107</td>)
(3338, <td style="font-weight: bold; text-align:right">312,890</td>)
(3339, <td style="font-weight: bold; text-align:right">5,002,100 </td>)
(3340, <td data-continent="Australia/Oceania" style="display:none">Australia/Oceania</td>)
(3341, <td>2,154</td>)
(3342, <td>200,084</td>)
(3343, <td>3</td>)
(3344, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">169</td>)
(3345, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/yemen/">Yemen</a></td>)
(3346, <td style="font-weight: bold; text-align:right">2,131</td>)
(3347, <td style="font-weight: bold; text-align:right;"></td>)
(3348, <td style="font-weight: bold; text-align:right;">615 </td>)
(3349, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3350, <td style="font-weight: bold; text-align:right">1,428</td>)
(3351, <td style="font-weight: bold; text-align:right;"></td>)
(3352, <td style="text-align:right;font-weight:bold;">88</td>)
(3353, <td style="font-weight: bold; text-align:right">23</td>)
(3354, <td style="font-weight: bold; text-align:right">71</td>)
(3355, <td style="font-weight: bold; text-align:right">20</td>)
(3356, <td style="font-weight: bold; text-align:right">17,404</td>)
(3357, <td style="font-weight: bold; text-align:right">576</td>)
(3358, <td style="font-weight: bold; text-align:right"><a href="/world-population/yemen-population/">30,221,500</a> </td>)
(3359, <td data-continent="Asia" style="display:none">Asia</td>)
(3360, <td>14,182</td>)
(3361, <td>49,141</td>)
(3362, <td>1,736</td>)
(3363, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">170</td>)
(3364, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mongolia/">Mongolia</a></td>)
(3365, <td style="font-weight: bold; text-align:right">2,120</td>)
(3366, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+47</td>)
(3367, <td style="font-weight: bold; text-align:right;">2 </td>)
(3368, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3369, <td style="font-weight: bold; text-align:right">1,546</td>)
(3370, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+53</td>)
(3371, <td style="text-align:right;font-weight:bold;">572</td>)
(3372, <td style="font-weight: bold; text-align:right">6</td>)
(3373, <td style="font-weight: bold; text-align:right">640</td>)
(3374, <td style="font-weight: bold; text-align:right">0.6</td>)
(3375, <td style="font-weight: bold; text-align:right">1,165,116</td>)
(3376, <td style="font-weight: bold; text-align:right">351,978</td>)
(3377, <td style="font-weight: bold; text-align:right"><a href="/world-population/mongolia-population/">3,310,195</a> </td>)
(3378, <td data-continent="Asia" style="display:none">Asia</td>)
(3379, <td>1,561</td>)
(3380, <td>1,655,098</td>)
(3381, <td>3</td>)
(3382, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">171</td>)
(3383, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/viet-nam/">Vietnam</a></td>)
(3384, <td style="font-weight: bold; text-align:right">2,064</td>)
(3385, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+14</td>)
(3386, <td style="font-weight: bold; text-align:right;">35 </td>)
(3387, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3388, <td style="font-weight: bold; text-align:right">1,472</td>)
(3389, <td style="font-weight: bold; text-align:right;"></td>)
(3390, <td style="text-align:right;font-weight:bold;">557</td>)
(3391, <td style="font-weight: bold; text-align:right"></td>)
(3392, <td style="font-weight: bold; text-align:right">21</td>)
(3393, <td style="font-weight: bold; text-align:right">0.4</td>)
(3394, <td style="font-weight: bold; text-align:right">1,529,651</td>)
(3395, <td style="font-weight: bold; text-align:right">15,629</td>)
(3396, <td style="font-weight: bold; text-align:right"><a href="/world-population/viet-nam-population/">97,870,100</a> </td>)
(3397, <td data-continent="Asia" style="display:none">Asia</td>)
(3398, <td>47,418</td>)
(3399, <td>2,796,289</td>)
(3400, <td>64</td>)
(3401, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">172</td>)
(3402, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/saint-lucia/">Saint Lucia</a></td>)
(3403, <td style="font-weight: bold; text-align:right">2,027</td>)
(3404, <td style="font-weight: bold; text-align:right;"></td>)
(3405, <td style="font-weight: bold; text-align:right;">19 </td>)
(3406, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3407, <td style="font-weight: bold; text-align:right">883</td>)
(3408, <td style="font-weight: bold; text-align:right;"></td>)
(3409, <td style="text-align:right;font-weight:bold;">1,125</td>)
(3410, <td style="font-weight: bold; text-align:right">2</td>)
(3411, <td style="font-weight: bold; text-align:right">11,008</td>)
(3412, <td style="font-weight: bold; text-align:right">103</td>)
(3413, <td style="font-weight: bold; text-align:right">26,855</td>)
(3414, <td style="font-weight: bold; text-align:right">145,842</td>)
(3415, <td style="font-weight: bold; text-align:right"><a href="/world-population/saint-lucia-population/">184,138</a> </td>)
(3416, <td data-continent="North America" style="display:none">North America</td>)
(3417, <td>91</td>)
(3418, <td>9,691</td>)
(3419, <td>7</td>)
(3420, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">173</td>)
(3421, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/liberia/">Liberia</a></td>)
(3422, <td style="font-weight: bold; text-align:right">1,956</td>)
(3423, <td style="font-weight: bold; text-align:right;"></td>)
(3424, <td style="font-weight: bold; text-align:right;">84 </td>)
(3425, <td style="font-weight: bold;
                                    text-align:right;"></td>)
(3426, <td style="font-weight: bold; text-align:right">1,770</td>)
(3427, <td style="font-weight: bold; text-align:right;"></td>)
(3428, <td style="text-align:right;font-weight:bold;">102</td>)
(3429, <td style="font-weight: bold; text-align:right">2</td>)
(3430, <td style="font-weight: bold; text-align:right">381</td>)
(3431, <td style="font-weight: bold; text-align:right">16</td>)

In [7]:
str(td[154]).find('USA')

-1

In [8]:
td = [str(i) for i in td]

In [9]:
for i in enumerate(td):
    if str(i[1]).find('USA') != -1:
        print(i)

(153, '<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>')

In [10]:
for i in enumerate(td):
    if i[1].find('USA') != -1:
        index = td.index(i[1])
        x = td[index : index + 15]

In [11]:
x_original = x

# trial 1

In [12]:
for i in x:
    print(i)

<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">27,707,835</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+7,166</td>
<td style="font-weight: bold; text-align:right;">476,635 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+227</td>
<td style="font-weight: bold; text-align:right">17,531,747</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+19,133</td>
<td style="text-align:right;font-weight:bold;">9,699,453</td>
<td style="font-weight: bold; text-align:right">21,441</td>
<td style="font-weight: bold; text-align:right">83,411</td>
<td style="font-weight: bold; text-align:right">1,435</td>
<td style="font-weight: bold; text-align:right">325,657,216</td>
<td style="font-weight: bold; text-align:right">980,356</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,182,690</a> </td>
<td data-continent="North America" style="display:none">North America</td>

# niw with regex

In [13]:
import re

In [14]:
x_new= []
for i in x:
    #find = re.findall('>(\-*\+*.*)<', str(i))
    find = re.findall('[\++|0-9,]+',i)

    
    if find != [] and find != None:
        #print(find[-1])
        x_new.append(find[-1]) 
    else:
        x_new.append(i)
x_new

['15',
 '27,707,835',
 '+7,166',
 '476,635',
 '+227',
 '17,531,747',
 '+19,133',
 '9,699,453',
 '21,441',
 '83,411',
 '1,435',
 '325,657,216',
 '980,356',
 '332,182,690',
 '<td data-continent="North America" style="display:none">North America</td>']

In [15]:
x_new[0]= 'USA'

x_new[-1] =re.findall('>(.*)<',x[-1])[0]

x_new

['USA',
 '27,707,835',
 '+7,166',
 '476,635',
 '+227',
 '17,531,747',
 '+19,133',
 '9,699,453',
 '21,441',
 '83,411',
 '1,435',
 '325,657,216',
 '980,356',
 '332,182,690',
 'North America']

# names

In [16]:
 for i in main_table[0].find_all('a',class_='mt_a', ):
    print(i.string)

USA
India
Brazil
Russia
UK
France
Spain
Italy
Turkey
Germany
Colombia
Argentina
Mexico
Poland
Iran
South Africa
Ukraine
Peru
Indonesia
Czechia
Netherlands
Canada
Portugal
Chile
Romania
Belgium
Israel
Iraq
Sweden
Pakistan
Philippines
Bangladesh
Switzerland
Morocco
Austria
Serbia
Japan
Hungary
Saudi Arabia
Jordan
UAE
Panama
Lebanon
Nepal
Slovakia
Georgia
Belarus
Ecuador
Malaysia
Croatia
Azerbaijan
Bolivia
Bulgaria
Dominican Republic
Tunisia
Ireland
Denmark
Costa Rica
Kazakhstan
Lithuania
Slovenia
Kuwait
Egypt
Armenia
Greece
Moldova
Guatemala
Palestine
Honduras
Qatar
Ethiopia
Myanmar
Nigeria
Paraguay
Oman
Venezuela
Libya
Bosnia and Herzegovina
Algeria
Bahrain
Kenya
North Macedonia
Albania
Kyrgyzstan
S. Korea
Uzbekistan
Ghana
Latvia
Sri Lanka
Montenegro
Norway
Zambia
Singapore
El Salvador
Afghanistan
Luxembourg
Estonia
Finland
Mozambique
Uruguay
Uganda
Namibia
Zimbabwe
Cuba
Cyprus
Cameroon
Ivory Coast
Senegal
Australia
Sudan
Malawi
Botswana
Thailand
DRC
Angola
Madagascar
Malta
French Polynesia
Jamaica
Maldives
Mauritania
Rwanda
French Guiana
Eswatini
Guinea
Syria
Cabo Verde
Tajikistan
Belize
Haiti
Gabon
Mayotte
Burkina Faso
Hong Kong
Runion
Andorra
Lesotho
Guadeloupe
Suriname
Bahamas
Mali
Congo
Guyana
Trinidad and Tobago
Aruba
Martinique
Nicaragua
Iceland
Djibouti
Equatorial Guinea
Togo
CAR
Somalia
South Sudan
Niger
Curaao
Gambia
Benin
Gibraltar
Channel Islands
Sierra Leone
Chad
San Marino
Comoros
Guinea-Bissau
Liechtenstein
Eritrea
New Zealand
Yemen
Mongolia
Vietnam
Saint Lucia
Liberia
Sint Maarten
Barbados
Burundi
Turks and Caicos
Monaco
Seychelles
Sao Tome and Principe
St. Vincent Grenadines
Saint Martin
Taiwan
Papua New Guinea
Bhutan
Bermuda
Faeroe Islands
Mauritius
Tanzania
Cambodia
Isle of Man
Cayman Islands
Caribbean Netherlands
St. Barth
Antigua and Barbuda
Brunei
Grenada
Dominica
British Virgin Islands
Timor-Leste
Fiji
New Caledonia
Macao
Falkland Islands
Laos
Saint Kitts and Nevis
Greenland
Vatican City
Saint Pierre Miquelon
Montserrat
Anguilla
Solomon Islands
Western Sahara
Wallis and Futuna
Marshall Islands
Samoa
Micronesia
Vanuatu
China

In [17]:
for i in main_table:
    i.find_all('td',style="font-weight: bold; font-size:15px; text-align:left;")

#  columns!

In [42]:
categories

['Country',
 'Total Cases',
 'New Cases',
 'Total Deaths',
 'New Deaths',
 'Total Recovered',
 'Active Cases',
 'Serious, Critical',
 'Tot Cases / 1M Pop',
 'Deaths/ 1M Pop',
 'Total Tests',
 'Tests / 1M Pop',
 'Population']